#Calculator{
  width: 350px;
  height: 500px;
  background-color: rgb(255, 225, 225);
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  border-radius: 3px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(image1.jpg);
  background-size: cover;
}

#display-part{
  display: block;
  height: 100px;
  margin: 0px;
  
}

#display{
  height: 100px;
  width: 100%;
  margin:0px;
  padding: 0px;
  border: none;
  background-color: rgb(26, 24, 24);
  color: white;
  font-size: 42px;
  text-align: right;
  resize: none;
  overflow: hidden;
  
}

#buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 15px;
  background-color: rgb(19, 15, 15);
  padding-top: 20px;
  padding-bottom: 20px;
  
}

button{
  height: 60px;
  width: 60px;
  border-radius: 35px;
  border: none;
  color: white;
  background-color: rgb(37, 30, 30);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.25s ease;

}

button:active{
  background-color: black;
  box-shadow: 0px 2px 4px rgba(19, 19, 18, 0.74);

}

.operations{
  background-color: rgb(56, 50, 50);

}

.equal{
  background-color: rgba(212, 226, 18, 0.74);
  
}
